<!DOCTYPE html> 

<html>  


<head> 
<link rel='stylesheet' href='/css/styles.css'>  

</head>   
<title>404</title> 
<link rel='icon' href='/img/cloud.png'>

<body>    
    <div class='main-content'> 
    {{>header}}    
    
    <p> 
        {{title}}
        {{errorMessage}} 
        </p>
     <img src = '/img/robot.png'> 
     </div>
    {{>footer}}
</body>




</html>